/*===== Universal Selectors =====*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
    @import url(//fonts.googleapis.com/css2?family=Audiowide&display=swap) /*required for github pages to correctly show the selected font */
}

body {
    font-family: "Audiowide", sans-serif;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(255,255,255) 0%, rgba(54,132,223,1) 100%);
}

h1 {
    font-family: "Audiowide", sans-serif;
}

/*===== Form buttons and layout =====*/

.form-control {
    display: flex;
}

.form-control input {
    flex: 1;
    outline: 0;
    box-shadow: none;
    border: 1px solid #858585;
}

.form-control button {
    background-color: #76df76;
    border: 0px;
}

.form-control button:hover {
    background-color: green;;
}

.date-hour {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    font-size: 16px;
    color: #102F5e;
}

button {
    background-color: darkorange;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: 0.2rem 0.4rem;
    font-size: .8rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border: 1px solid #f5880e;
}

button:hover {
    background-color: orangered;
    color: white;
}

button > i {
    font-weight: bold;
    pointer-events: none;
}

input {
    padding: .4rem .5rem;
}

.hide {
    display: none;
}

.todo-container {
    background-color: #ecf0f1;
    border-radius: 15px;
    width: 450px;
    margin: 3rem auto;
    padding: 1.5rem;
    font-family: "Audiowide", sans-serif;
}

.todo-container header {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    font-family: "Audiowide", sans-serif;
}

header > h1 {
    padding-left: 16px;
    border-left: 5px solid #e74c3c; 
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form > p, #edit-form > p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control > input {
    margin-right: .8rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 0.2rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: 0.4rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: #ecf0f1
}

.done {
    background-color: green;
}

.done h3 {
    color: white;
    text-decoration: line-through;
    font-style: italic;
}

.todo button:hover, .done button {
    background-color: #395169;
    color: #ecf0f1;
}

.done > button:hover {
    background-color: #ecf0f1;
    color: #102F5e;
}

#todo-list {
    max-height: 220px;
    overflow: auto;
}

